.formContainer{
    background-image: linear-gradient(#cdb4db, #bde0fe);
    padding: 50px;
}

.splitForms{
    display: flex;
    justify-content: space-between;
}

form{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px;
}

.adminLogIn {
    width: 50%;
    margin: 0 auto;
}